project = {{ title | tojson }}
author = {{ author | tojson }}
language = {{ language | tojson }}
root_doc = "index"
master_doc = "index"
extensions = {{ extensions | tojson }}
templates_path = []
exclude_patterns = []
html_static_path = []
