from __future__ import annotations

import sys

project = {{ title | tojson }}
author = {{ author | tojson }}
language = {{ language | tojson }}
version = {{ version | tojson }}
release = version
copyright = {{ copyright | tojson }}

root_doc = "index"
master_doc = "index"

epub_title = project
epub_author = author
epub_language = language
epub_copyright = copyright

extensions = {{ extensions | tojson }}
suppress_warnings = {{ suppress_warnings | tojson }}

_python_paths = {{ python_paths | tojson }}
for _path in reversed(_python_paths):
    if _path not in sys.path:
        sys.path.insert(0, _path)

templates_path = []
exclude_patterns = []
html_static_path = []
html_theme = "basic"
html_title = project
html_show_sourcelink = False
html_copy_source = False
singlehtml_sidebars = {"index": []}
