---
layout: {{ layout }}
title: {{ title | yaml_quote }}
permalink: {{ permalink }}
nav_tool: {{ nav_tool }}
---

{{ generated_notice }}

<style data-sphinxpress-style="api">
{{ site_css }}
</style>

<div class="sphinxpress-doc">
{{ body_html }}
</div>
